<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
 <section class="container-fluid">

        <header class="row ">

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" id="fondologo">
                <img src="img/logo.png" alt="logo">
            </div>
            <nav id="fondonav" class="col-xs-12 col-sm-6 col-md-8 col-lg-8 ">
                <ul id="menu" class="row center-xs start-md">
                    <li>
                        <a class="prue" href="index.html">inicio </a>
                    </li>
                    <li>
                        <a class="prue" href="#conocenos">quienes somos </a>
                    </li>
                    <li>
                        <a class="prue" href="#">servicios </a>
                    </li>
                    <li>
                        <a class="prue" href="#registro">contactanos </a>
                    </li>
                    <li>
                    	<a class="prue" href="adoptar.html">adoptar uno </a>
                    </li>
                </ul>

            </nav>
        </header>
            <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="ezquinas"  style="background-image:url('img/patas1.png');>

            <form id="registro" action="" method="POST">
                <br>
                <label class="diseñolabel" for="rut">Rut:</label>
                <input type="text" name="rut" placeholder="rut" class="diseños" required>
                <br>
                <br>
                <label class="diseñolabel" for="nombre">Nombre:</label>
                <input type="text" name="nombre" placeholder="Nombre y Apellido" class="diseños" required>
                <br>
                <br>
                <label class="diseñolabel" for="numero">Telefono de contacto:</label>
                <input type="number" name="numero" placeholder="numero" class="diseños" required>
                <br>
                <br>
                <label class="diseñolabel" for="tipoVivienda">Tipo de Vivienda</label>
                <select name="tipoVivienda" class="diseños">
                    <option value="0">Casa con patio grande</option>
                    <option value="1">casa con patio pequeño</option>
                    <option value="2">casa sin patio</option>
                    <option value="3">Departamento</option>
                </select>
                <br>
                <label class="diseñolabel" for="Raza a adoptar">Tipo de Raza</label>
                <select name="tipoRaza" class="diseños">
                	<option value="0"> Pitbull</option>
                	<option value="1"> Pastor Aleman</option>
                	<option value="2"> Chiwawa</option>
                	<option value="3"> Bulldog</option>
                	<option value="4"> Poodle</option>
                	<option value="5"> San Bernardo</option>
                	<option value="6"> Boxer</option>
                	<option value="7"> Rotwailer</option>
                	<option value="8"> Terrie</option>
                	<option value="9"> Otros..</option>

                </select>
                <br>
                <br>

                 <section class="row center-xs imag">
            <section class="col-xs-12">
          
            

        </section>

                <button>Enviar</button>


            </form>

        </div>
    </div>


       

        <aside class="row fondosect">
            <section class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <ul class="row center-xs start-md contacto">
                    <li>
                        <a href="#">+56967268185 </a>
                    </li>


                </ul>
            </section>

            <section class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <ul class="row center-xs start-md contacto">
                    <li>
                        <a href="#">Rescate y adopcion de perros callejeros</a>
                    </li>

                </ul>
            </section>


            <section class="col-xs-12 col-sm-12 col-md-4 col-lg-4 ">
                <ul class="row center-xs end-md" id="icons">

                    <li class="circulo">
                        <a class="icon-facebook" href="https://www.facebook.com/"> </a>
                    </li>
                    <li class="circulo">
                        <a class="icon-google" href="#"></a>
                    </li>
                    <li class="circulo">
                        <a class="icon-instagram" href="https://www.instagram.com/?hl=es-la"></a>
                    </li>
                    <li class="circulo">
                        <a class="icon-mail3" href="https://www.instagram.com/?hl=es-la"></a>
                    </li>
                </ul>
            </section>
            <br/>
            <br/>
        </aside>

        </section>
</body>
</html>