<!DOCTYPE html>
<html lang="es">

<head>
    {%load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static "adopcion/fonts/style.css" %}">

    <link rel="stylesheet" href="{%static "adopcion/css/flexboxgrid.css" %}">
    <!-- <link rel="stylesheet" href="{%static "adopcion/css/Slider.css" %}"> -->
    <link rel="stylesheet" href="{%static "adopcion/css/estilo.css" %}">
    <script  src="{% static "adopcion/js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "adopcion/js/scripReg.js" %}"></script>

    <title>MisPerris</title>
</head>

<body>

    <section class="container-fluid">

        <header class="row ">

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" id="fondologo">
                <img src="{% static "adopcion/img/logo.png" %}" alt="logo">
            </div>
            <nav id="fondonav" class="col-xs-12 col-sm-6 col-md-8 col-lg-8 ">
                <ul id="menu" class="row center-xs start-md">
                    <li>
                        <a class="prue" href="index">inicio </a>
                    </li>
                    <li>
                        <a class="prue" href="#conocenos">quienes somos </a>
                    </li>
                    <li>
                        <a class="prue" href="index">servicios </a>
                    </li>
                    <li>
                        <a class="prue" href="#registro">contactanos </a>
                    </li>
                    <li>
                    	<a class="prue" href="sesion">Iniciar Sesion </a>
                    </li>
                    <li>
                    	<a class="prue" href="registro">Registrarse </a>
                    </li>
                     <li>
                    	<a class="prue" href="adoptar">ADOPTAR </a>
                    </li>
                </ul>

            </nav>
        </header>





        <section class="row center-xs imag">
            <section class="col-xs-12">
                <div id="contenedor-slider" class="contenedor-slider">
                    <div id="slider" class="slider">
                        <section class="slider__section">
                            <img src="{% static "adopcion/img/perro.png" %}" class="slider__img" alt="Rescate" width="800" height="400">
                        </section>
                        <section class="slider__section">
                            <img src="{% static "adopcion/adoptados/Duque.jpg" %}" class="slider__img" alt="Rescate" width="800" height="400">
                        </section>
                        <section class="slider__section">
                            <img src="{% static "adopcion/adoptados/Tom.jpg" %}" class="slider__img" alt="Rescate" width="800" height="400">
                        </section>

                    </div>
                    <div id="btn-prev" class="btn-prev">&#60;</div>
                    <div id="btn-next" class="btn-next">&#62;</div>
                </div>
            </section>

        </section>
        <script src="{% static "adopcion/js/slider.js" %}"> </script>

        <aside class="row fondosect">
            <section class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <ul class="row center-xs start-md contacto">
                    <li>
                        <a href="#">+56967268185 </a>
                    </li>


                </ul>
            </section>

            <section class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <ul class="row center-xs start-md contacto">
                    <li>
                        <a href="#">Rescate y adopcion de perros callejeros</a>
                    </li>

                </ul>
            </section>


            <section class="col-xs-12 col-sm-12 col-md-4 col-lg-4 ">
                <ul class="row center-xs end-md" id="icons">

                    <li class="circulo">
                        <a class="icon-facebook" href="https://www.facebook.com/"> </a>
                    </li>
                    <li class="circulo">
                        <a class="icon-google" href="#"></a>
                    </li>
                    <li class="circulo">
                        <a class="icon-instagram" href="https://www.instagram.com/?hl=es-la"></a>
                    </li>
                    <li class="circulo">
                        <a class="icon-mail3" href="https://www.instagram.com/?hl=es-la"></a>
                    </li>
                </ul>
            </section>
            <br/>
            <br/>
        </aside>


        <section class="row">

            <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id="moverisq">
                <a name="conocenos"></a>
                <a name="fin"></a>
                <H1>RESCATE</H1>
                <br/>
                <h5 class="textoPlomo">ETAPA UNO</h5>
                <br/>
                <h2 class="textoPlomo">_____</h2>
                <br/>
                <p class="textoPlomo">Rescatamos perros en situacion de peligro y/o abandono. Los rehabilitamos y los preparamos para buscarle
                    un hogar</p>
                <br/>
                <br/>
                <img src="{% static "adopcion/img/rescate.jpg" %}" alt="perro" width="250" height="125">


            </article>
            <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id="moverder">
                <img src="{% static "adopcion/img/crowfunding.jpg" %}" alt="foto" width="250" height="200">
                <br/>
                <H1>CROWFUNDING</H1>
                <br/>
                <h5 class="textoPlomo">FINANCIAMINETO</h5>
                <br/>
                <h2 class="textoPlomo">______</h2>
                <br/>
                <p class="textoPlomo">Sigue nuestras redes sociales para informarte acerca de las diversas campañas y actividades que realizamos
                    para obtener Financiamiento y seguir ayudando </p>
                <br>
                <br>
                <input class="boton2" type="button" id="boton" value="CAMPAÑAS">
            </article>

        </section>

    </section>
    <div class="row center-xs galerias">

        <div class="col-xs-4 col-md-1 galeria estilo1">
            <a href="#img1">
                <img src="{% static "adopcion/rescatados/Oso.jpg" %}" alt="galeria">
            </a>
            <a href="#img2">
                <img src="{% static "adopcion/rescatados/Maya.jpg" %}" alt="galeria">
            </a>
            <a href="#img3">
                <img src="{% static "adopcion/rescatados/Wifi.jpg" %}" alt="galeria">
            </a>
        </div>
        <div class="col-xs-4 col-md-1 galeriaC">
            <a href="#img4">
                <img src="{% static "adopcion/rescatados/Chocolate.jpg" %}" alt="galeria">
            </a>
            <a href="#img5">
                <img src="{% static "adopcion/rescatados/Pexel.jpg" %}" alt="galeria">
            </a>
        </div>
        <div class="col-xs-4 col-md-1 galeriaD">
            <a href="#img6">
                <img src="{% static "adopcion/rescatados/Bigotes.jpg" %}" alt="galeria">
            </a>
            <a href="#img7">
                <img src="{% static "adopcion/rescatados/Luna.jpg" %}" alt="galeria">
            </a>
        </div>


    </div>
    <div class="modal" id="img1">
        <h3>Perros Rescatados</h3>
        <div class="imagen">
            <a href="#img6">&#60;</a>
            <a href="#img2">
                <img src="{% static "adopcion/rescatados/Oso.jpg" %}" alt="galeria">
            </a>
            <a href="#img2">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>

    <div class="modal" id="img2">
        <h3>Perros Rescatados</h3>
        <div class="imagen">
            <a href="#img1">&#60;</a>
            <a href="#img3">
                <img src="{% static "adopcion/rescatados/Maya.jpg" %}" alt="galeria">
            </a>
            <a href="#img3">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>

    <div class="modal" id="img3">
        <h3>Perros Rescatados</h3>
        <div class="imagen">
            <a href="#img2">&#60;</a>
            <a href="#img4">
                <img src="{% static "adopcion/rescatados/Wifi.jpg" %}" alt="galeria">
            </a>
            <a href="#img4">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>

    <div class="modal" id="img4">
        <h3>Perros Rescatados</h3>
        <div class="imagen">
            <a href="#img3">&#60;</a>
            <a href="#img1">
                <img src="{%static "adopcion/rescatados/Chocolate.jpg" %}" alt="galeria">
            </a>
            <a href="#img5">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>
    <div class="modal" id="img5">
        <h3>Perros Rescatados</h3>
        <div class="imagen">
            <a href="#img4">&#60;</a>
            <a href="#img6">
                <img src="{% static "adopcion/rescatados/Pexel.jpg" %}"  alt="galeria">
            </a>
            <a href="#img6">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>
    <div class="modal" id="img6">
        <h3>Perros Rescatados</h3>
        <div class="imagen">
            <a href="#img5">&#60;</a>
            <a href="#img7">
                <img src="{% static "adopcion/rescatados/Bigotes.jpg" %}" alt="galeria">
            </a>
            <a href="#img1">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>
    <div class="modal" id="img7">
        <h3>Perros Rescatados</h3>
        <div class="imagen">
            <a href="#img6">&#60;</a>
            <a href="#img1">
                <img src="{% static "adopcion/rescatados/Luna.jpg" %}" alt="galeria">
            </a>
            <a href="#img1">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>


   <div class="row">
        <footer class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="piedepaguina">

            <PRE>Desarrollo web y movile</pre>
        </footer>
    </div>



</body>

</html>
