<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <title> Registro</title>
		{% load static %}
		<link rel="stylesheet" href="{% static "adopcion/fonts/style.css" %}">
    <link rel="stylesheet" href="{% static "adopcion/css/flexboxgrid.css" %}">

    <link rel="stylesheet" href="{% static "adopcion/css/estilo.css" %}">
    <script src="{% static "adopcion/js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/scripReg.js" %}"></script>


</head>
<body>

		<header class="row ">

	            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" id="fondologo">
	                <img src="{% static "adopcion/logo.png" %}" alt="logo">
	            </div>
	            <nav id="fondonav" class="col-xs-12 col-sm-6 col-md-8 col-lg-8 ">
	               <ul id="menu" class="row center-xs start-md">
                    <li>
                        <a class="prue" href="/../">inicio </a>
                    </li>
                    <li>
                        <a class="prue" href="#conocenos">quienes somos </a>
                    </li>
                    <li>
                        <a class="prue" href="/../">servicios </a>
                    </li>
                    <li>
                        <a class="prue" href="/../registro">contactanos </a>
                    </li>
                    <li>
                    	<a class="prue" href="/../sesion">Iniciar Sesion </a>
                    </li>
                    <li>
                    	<a class="prue" href="/../registro">Registrarse </a>
                    </li>
                     <li>
                    	<a class="prue" href="/../adoptar">ADOPTAR </a>
                    </li>
                </ul>

	            </nav>
	    </header>

	    <div class="row">
	        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="ezquinas">
	        	<center>
	    		<H1>INICIAR SESION</H1>
	    	    </center>

	            <form id="registro" action="" method="POST">
	                <label class="diseñolabel" for="correo">Correo:</label>
	                <input type="email" id="correo" class="diseños" name="correo" placeholder="ej: Ejemplo@alumnos.duoc.cl" required>
	                <br>
	                <br>
	                <label class="diseñolabel" for="password">Contraseña:</label>
	                <input type="password" class="password" placeholder="Contraseña" class="diseños" required>
	                <br>
	                <br>


	                <button type="submit" class= "btn_iniciar">Iniciar Sesion</button>
	            </form>
	            <br>
	            <br>
	            <p>¿No esta registrado?<a href="/registro"> Crear Cuenta</a></p>

	        </div>

	    </div>
		<script type="text/javascript" src="{% static 'adopcion/js/main.js' %}"></script>
	       <aside class="row fondosect">
	            <section class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
	                <ul class="row center-xs start-md contacto">
	                    <li>
	                        <a href="#">+56967268185 </a>
	                    </li>


	                </ul>
	            </section>

	            <section class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
	                <ul class="row center-xs start-md contacto">
	                    <li>
	                        <a href="#">Rescate y adopcion de perros callejeros</a>
	                    </li>

	                </ul>
	            </section>


	            <section class="col-xs-12 col-sm-12 col-md-4 col-lg-4 ">
	                <ul class="row center-xs end-md" id="icons">

	                    <li class="circulo">
	                        <a class="icon-facebook" href="https://www.facebook.com/"> </a>
	                    </li>
	                    <li class="circulo">
	                        <a class="icon-google" href="#"></a>
	                    </li>
	                    <li class="circulo">
	                        <a class="icon-instagram" href="https://www.instagram.com/?hl=es-la"></a>
	                    </li>
	                    <li class="circulo">
	                        <a class="icon-mail3" href="https://www.instagram.com/?hl=es-la"></a>
	                    </li>
	                </ul>
	            </section>
	            <br/>
	            <br/>
	        </aside>
	     <div class="row">
	        <footer class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="piedepaguina">

	            <PRE>Desarrollo web y movile</pre>
	        </footer>
	    </div>


</body>
</html>
